body {
  background-image: url("../img/background.jpg");
  background-size: 100%;
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
}

.covered {
  background-image: url("../img/bond.jpg");
  background-size: contain;
}

.hand {
  overflow: auto;
}
